$main-color: #a3cb38;
$second-color: lighten($main-color, 5);

@font-face {
	font-family: 'GoogleSans-Regular';
	$GoogleSans-Regular: 'GoogleSans-Regular' !global;
	src: url(../fonts/GoogleSans/GoogleSans-Regular.ttf);
}

@font-face {
	font-family: 'GoogleSans-Bold';
	$GoogleSans-Bold: 'GoogleSans-Bold' !global;
	src: url(../fonts/GoogleSans/GoogleSans-Bold.ttf);
}

@font-face {
	font-family: 'GoogleSans-Bold-Italic';
	$GoogleSans-Bold-Italic: 'GoogleSans-Bold-Italic' !global;
	src: url(../fonts/GoogleSans/GoogleSans-BoldItalic.ttf);
}

@font-face {
	font-family: 'GoogleSans-Italic';
	$GoogleSans-Italic: 'GoogleSans-Italic' !global;
	src: url(../fonts/GoogleSans/GoogleSans-Italic.ttf);
}

@font-face {
	font-family: 'Waffle-Soft';
	$Waffle-Bold: 'Waffle-Soft' !global;
	src: url(../fonts/Waffle/MADEWaffleSoft.ttf);
}

@mixin __media-ld {
	@media (min-width: 992px) {
		@content;
	}
}

@mixin __media-md {
	@media (min-width: 768px) {
		@content;
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoom-left {
	0% {
		width: 0;
		height: 0;
	}
	100% {
		height: 200px;
		width: calc(100% - 18px - 4px);
	}
}

@keyframes zoom-left-input {
	0% {
		width: 0;
		padding-bottom: 0;
	}
	100% {
		padding-bottom: 200px;
		width: calc(100% - 18px - 4px);
	}
}

@keyframes fade-in {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes fade-out-ripple {
	0% {
		opacity: .5;
		width: 0px;
		height: 0px;
	}
	100% {
		opacity: 0;
		width: 500px;
		height: 500px;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
}

p {
	// color: lighten(#000, 30);
	line-height: 1.7;
}

span {
	color: #000;
}

h1,
h2 {
	font-family: $Waffle-Bold;
}

body {
	padding: 15px;
	font-size: 14px;
	position: relative;
	transition: .3s padding;
	scroll-behavior: smooth;
	background-color: #f6f7ff;
	font-family: $GoogleSans-Regular;
	text-rendering: optimizeLegibility;
	@include __media-md {
		padding: 30px 15px;
	}
}

button {
	color: #fff;
	width: 100%;
	border: none;
	padding: 10px;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	margin-top: 1rem;
	user-select: none;
	position: relative;
	letter-spacing: 1px;
	border-radius: 10px;
	transition: .3s box-shadow;
	text-transform: uppercase;
	background-color: $main-color;
	font-family: $Waffle-Bold;
	&:hover,
	&:focus {
		background-color: $second-color;
		box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .2);
	}
	i {
		margin-right: .3rem;
	}
	.__ripple {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		pointer-events: none;
		background-color: #fff;
		transform: translate(-50%, -50%);
		animation: fade-out-ripple 1s linear infinite;
	}
}

form {
	.__form-input {
		display: flex;
		position: relative;
		align-items: center;
		margin-bottom: 1rem;
		i {
			width: 18px;
			margin-right: 4px;
			&:last-child {
				right: 10px;
				top: 12.5px;
				width: 18px;
				display: flex;
				margin-right: 0;
				cursor: pointer;
				margin-left: 4px;
				position: absolute;
				justify-content: center;
			}
		}
		input {
			flex: 1;
			border: none;
			outline: none;
			border-radius: 10px;
			background-color: #fff;
			border: 1px solid #e3e3e3;
			padding: 10px 30px 10px 15px;
			transition: .3s border, .3s background-color;
			font-family: $GoogleSans-Regular;
			&:first-child {
				flex: 0;
			}
			&:focus + .__placer,
			&:not(:placeholder-shown) + .__placer {
				top: -7px;
				font-size: 12px;
				background-color: #fff;
			}
			&:focus,
			&:not(:placeholder-shown) {
				border: 1px solid #e3e3e3;
			}
		}
		.__placer {
			top: 11px;
			left: 35px;
			padding: 0 .2rem;
			user-select: none;
			position: absolute;
			transition: .3s all;
			pointer-events: none;
			background-color: transparent;
		}
		.__switch {
			width: 34px;
			height: 20px;
			overflow: hidden;
			background: #e3e3e3;
			position: relative;
			border-radius: 17px;
			margin-right: .5rem;
			display: inline-block;
			input {
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				cursor: pointer;
				position: absolute;
				&:checked + .__slider {
					left: 17px;
					box-shadow: 0 0 0 30px $main-color;
				}
			}
			.__slider {
				top: 3px;
				left: 3px;
				z-index: 1;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				position: absolute;
				transition: .3s all;
				background-color: #fff;
			}
		}
	}
	.__form-message {
		padding: 10px;
		border-radius: 20px;
		border: 1px dashed #e3e3e3;
		i {
			margin: 0 .5rem;
		}
	}
}

/*-_-_-_-_-_-_-_-_-_-_- Default Styling -_-_-_-_-_-_-_-_-_-_-*/

main.__main-container-wrapper {
	display: flex;
	margin: 0 auto;
	max-width: 985px;
	flex-direction: column;
	@include __media-md {
		flex-direction: row;
	}
	.__left-column {
		margin-bottom: 20px;
		&:first-child section {
			top: 30px;
			position: sticky;
		}
		@include __media-md {
			min-width: 265px;
			max-width: 265px;
			margin-bottom: 0;
		}
		.__section-container:last-child {
			margin-bottom: 0;
		}
	}
	.__right-column {
		flex: 1;
		@include __media-md {
			margin-left: 20px;
		}
	}
}

section.__section-container {
	position: relative;
	padding: 75px 50px;
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	transition: .3s all ease-in-out;
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .2);
	@include __media-ld {
		max-width: 700px;
	}
	.__section-header-title {
		font-size: 18px;
		margin-bottom: 70px;
		position: relative;
		h1:after {
			width: 50px;
			content: "";
			height: 5px;
			display: block;
			margin-top: 1rem;
			border-radius: 25px;
			background: $main-color;
		}
		i {
			bottom: 0;
			left: 60px;
			position: absolute;
		}
	}
	.__section-confirmation-container {
		text-align: center;
		// background: repeating-linear-gradient(
		//   45deg,
		//   #fff,
		//   #fff 10px,
		//   #eee 10px,
		//   #eee 20px
		// );
		// transform: translate(-50%,-50%);
		.__confirmation-buttons {
			display: flex;
			button:first-child {
				margin-right: 1rem;
			}
			button:last-child {
				margin-left: 1rem;
			}
		}
		.__confirmation-times {
			top: 20px;
			right: 20px;
			width: 30px;
			height: 30px;
			display: flex;
			font-size: 24px;
			cursor: pointer;
			transition: .3s all;
			position: absolute;
			align-items: center;
			justify-content: center;
			&:hover,
			&:focus {
				color: $main-color;
			}
		}
	}
	.__section-popup-container {
		&:hover span {
			display: block;
		}
		span {
			top: 130%;
			left: 50%;
			z-index: 1;
			width: 200px;
			padding: 10px;
			display: none;
			text-align: center;
			position: absolute;
			margin-left: -100px;
			border-radius: 10px;
			background-color: #fff;
			animation: zoom-in .3s;
			box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2);
			&:before {
				content: "";
				width: 0;
				height: 0;
				top: -12px;
				left: 50%;
				margin-left: -12px;
				position: absolute;
				border-left: 12px dashed transparent;
				border-right: 12px dashed transparent;
				border-bottom: 12px dashed #eee;
			}
			&:after {
				content: "";
				width: 0;
				height: 0;
				top: -11px;
				left: 50%;
				margin-left: -11px;
				position: absolute;
				border-left: 11px dashed transparent;
				border-right: 11px dashed transparent;
				border-bottom: 11px dashed #fff;
			}
		}
	}

	.__section-navbar-container {
		display: flex;
		justify-content: space-between;
		.__navbar-button {
			width: 114px;
			padding: 1rem;
			display: flex;
			align-items: center;
			border-radius: 10px;
			justify-content: center;
			background-size: cover;
			// background-attachment: fixed;
			background-position: center;
			&:nth-child(1) {
				background-image: url(https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
			}
		}
	}

	.__section-search-container {
		margin-bottom: 1rem;
		.__search-header-title {
			cursor: pointer;
			position: relative;
			i {
				top: 6.5px;
				left: 202px;
				position: absolute;
			}
		}
		.__search-entire-container {
			max-height: 0;
			overflow: hidden;
			transition: 1s all;
			form {
				.__form-input {
					input {
						width: calc(100% - 18px - 4px);
					}
					.__input-dropdown {
						z-index: 3;
						display: none;
						overflow: hidden;
						position: absolute;
						border-radius: 10px;
						left: calc(18px + 5px);
						background-color: #fff;
						top: calc(39px + 1rem);
						animation: zoom-left .6s;
						transition: .3s top;
						width: calc(100% - 18px - 4px);
						box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2);
						menu {
							opacity: 0;
							overflow-y: auto;
							max-height: 200px;
							visibility: hidden;
							animation: fade-in .6s .6s forwards;
							li {
								cursor: pointer;
								padding: .5rem 1rem;
								transition: .3s all;
								&:hover {
									background-color: #eee;
								}
							}
						}
					}
				}
				.__form-columns {
					display: flex;
					flex-flow: column nowrap;
					@media only screen and (min-width: 900px) {
						flex-flow: row nowrap;
					}
					.__left-column-form {
						flex: 1;
						transition: .3s margin;
						@media only screen and (min-width: 900px) {
							margin-right: 1.5rem;
						}
					}
					.__right-column-form {
						flex: 1;
						transition: .3s margin;
						@media only screen and (min-width: 900px) {
							margin-left: 1.5rem;
						}
					}
				}
				.__form-select {
					display: flex;
					position: relative;
					align-items: center;
					transition: .3s all;
					margin-bottom: 1rem;
					justify-content: space-around;
					i {
						&:first-child {
							min-width: 18px;
							margin-right: 4px;
						}
					}
					.__select-input {
						width: 100%;
						display: flex;
						cursor: pointer;
						flex-wrap: wrap;
						min-height: 39px;
						position: relative;
						border-radius: 10px;
						align-items: center;
						background-color: #fff;
						border: 1px solid #e3e3e3;
						padding: 6px 30px 6px 6px;
						&:focus .__placer {
							top: -7px;
							font-size: 12px;
							background-color: #fff;
						}
						.__placer {
							top: 10px;
							left: 12px;
							padding: 0 .2rem;
							user-select: none;
							position: absolute;
							transition: .3s all;
							pointer-events: none;
							background-color: transparent;
						}
						.__placer-focus {
							top: -7px;
							font-size: 12px;
							background-color: #fff;
						}
						i {
							right: 15px;
							position: absolute;
							transition: .3s all;
							pointer-events: none;
						}
						.__arrow-spin {
							transform: rotate(180deg);
						}
						.__input-option {
							z-index: 2;
							color: #fff;
							margin: .2rem;
							padding: .1rem .3rem;
							user-select: none;
							border-radius: 5px;
							transition: .3s all;
							background-color: $main-color;
							&:hover {
								color: #000;
								background-color: #eee;
							}
						}
					}
					.__select-dropdown {
						z-index: 3;
						display: none;
						overflow: hidden;
						position: absolute;
						border-radius: 10px;
						left: calc(18px + 5px);
						background-color: #fff;
						top: calc(39px + 1rem);
						animation: zoom-left .6s;
						transition: .3s top;
						width: calc(100% - 18px - 4px);
						box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2);
						menu {
							opacity: 0;
							overflow-y: auto;
							max-height: 200px;
							visibility: hidden;
							animation: fade-in .6s .6s forwards;
							li {
								cursor: pointer;
								padding: .5rem 1rem;
								transition: .3s all;
								&:hover {
									background-color: #eee;
								}
							}
						}
					}
				}
				.__form-buttons {
					display: flex;
					flex-flow: column nowrap;
					@media only screen and (min-width: 900px) {
						flex-flow: row nowrap;
					}
					button {
						transition: .3s all;
						&:first-child {
							margin-top: 0;
							@media only screen and (min-width: 900px) {
								margin-right: 1.5rem;
							}
						}
						&:last-child {
							@media only screen and (min-width: 900px) {
								margin-top: 0;
								margin-left: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}
/* Complete */
section .__section-person-container {
	.__person-avatar {
		position: relative;
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 50%;
		}
		.__avatar-upload {
			top: 0;
			left: 0;
			opacity: 1;
			width: 100px;
			height: 100px;
			display: flex;
			cursor: pointer;
			border-radius: 50%;
			position: absolute;
			align-items: center;
			transition: .3s all;
			justify-content: center;
			border: 3px solid transparent;
			&:hover,
			&:focus {
				background-color: rgba(0, 0, 0, .5);
				//border: 3px solid $main-color;
			}
			&:hover i,
			&:focus i {
				opacity: 1;
				font-size: 32px;
			}
			i {
				opacity: 0;
				font-size: 20px;
				transition: .3s all;
				//color: $main-color;
				--fa-primary-color: #fff;
				--fa-primary-opacity: .9;
				--fa-secondary-opacity: 1;
				--fa-secondary-color: #a3cb38;
			}
			input {
				top: 0;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				border-radius: 50%;
				position: absolute;
			}
		}
	}
	.__person-info {
		h1 {
			margin: 1rem 0;
		}
	}
}
/* Complete */
section .__section-paramount-information {
	display: flex;
	flex-direction: column;
	@media only screen and (min-width: 900px) {
		flex-direction: row;
	}
	h1 {
		margin-bottom: 1rem;
	}
	.__paramount-statistics {
		flex: 1;
		transition: .3s margin;
		@media only screen and (min-width: 900px) {
			margin-right: 1.5rem;
		}
		p {
			margin-bottom: 1rem;
			@media only screen and (min-width: 900px) {
				margin-bottom: 0;
			}
		}
	}
	.__paramount-form {
		flex: 1;
		margin-top: 2rem;
		transition: .3s margin;
		@media only screen and (min-width: 900px) {
			margin-left: 1.5rem;
		}
		@include __media-md {
			margin-top: 0;
		}
	}
}

section .__section-articles-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	@media only screen and (min-width: 900px) {
		flex-flow: row wrap;
	}
	.__article-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		@media only screen and (min-width: 900px) {
			max-width: calc(50% - 1.5rem);
		}
		.__article-image {
			display: flex;
			height: 40vw;
			cursor: pointer;
			overflow: hidden;
			user-select: none;
			position: relative;
			transition: .3s all;
			border-radius: 10px;
			align-items: center;
			justify-content: center;
			@media only screen and (min-width: 600px) {
				height: 30vw;
			}
			@include __media-md {
				height: 12vw;
				max-height: 180px;
			}
			&:hover,
			&:focus {
				box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .2);
			}
			&:hover img,
			&:focus img {
				transform: scale(1.1);
			}
			&:hover nav,
			&:focus nav {
				opacity: 1;
			}
			img {
				width: 100%;
				transition: .3s all;
			}
			nav {
				top: 1rem;
				left: 1rem;
				color: #fff;
				opacity: .5;
				padding: 4px 12px;
				position: absolute;
				border-radius: 20px;
				transition: .3s all;
				background-color: $main-color;
			}
		}
		.__article-title {
			flex: 1;
			margin-top: 1rem;
			margin-bottom: .8rem;
			text-transform: capitalize;
			h1 {
				cursor: pointer;
				transition: .3s all;
			}
			&:hover,
			&:focus {
				color: $main-color;
			}
		}
		.__article-footer {
			display: flex;
			text-transform: capitalize;
			justify-content: space-between;
		}
	}
}

/*-_-_-_-_-_-_-_-_-_-_- Modal Styling -_-_-_-_-_-_-_-_-_-_-*/

section .__section-cropper-container {
	& {
		.cropper-view-box,
		.cropper-face {
			border-radius: 50%;
		}
		.cropper-wrap-box,
		.cropper-container,
		.cropper-drag-box,
		.cropper-crop,
		.cropper-modal {
			border-radius: 10px;
		}
		.cropper-point {
			background-color: $main-color;
		}
		.cropper-line {
			background-color: #eee;
		}
		.point-se {
			max-width: 5px;
			max-height: 5px;
		}
	}
	.__cropper-times {
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		display: flex;
		font-size: 24px;
		cursor: pointer;
		transition: .3s all;
		position: absolute;
		align-items: center;
		justify-content: center;
		&:hover,
		&:focus {
			color: $main-color;
		}
	}
	.__cropper-image {
		height: 50vw;
		display: flex;
		overflow: hidden;
		max-height: 300px;
		align-items: center;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}
	.__cropper-buttons {
		@media only screen and (min-width: 450px) {
			display: flex;
			button:nth-child(1) {
				margin-right: .5rem;
			}
			button:nth-child(2) {
				margin-left: .5rem;
			}
		}
	}
}

footer.__footer-container-wrapper {
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	display: none;
	padding: 15px;
	position: fixed;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .4);
	.__section-container {
		width: 100%;
		display: none;
		max-width: 600px;
		animation: zoom-in .6s ease;
	}
}
